@page
@model AdministrationPlat.Pages.Shared.Teacher.TeacherIndex

@{
    Layout = "Shared/TeacherLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <link rel="stylesheet" href="~/css/Teacher/stylesTeacherIndex.css">
</head>
<body>
<div>
    <h1 id="text">Dashboard</h1>
</div>
</body>
</html>