@page
@model AdministrationPlat.Pages.Admin.AdminIndex

@{
    Layout = "Shared/AdminLayout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    <link rel="stylesheet" href="~/css/Admin/stylesAdminIndex.css">
</head>
<body>
<div>
    <h1 id="text">Admin Index</h1>
</div>
</body>
</html>